@media (max-width: 768px) {
    .footer__contact-us {
        flex-flow: row wrap;
    }

    .line-break {
        padding-top: 10px;
        width: 100%;
    }

    .address-block {
        width: inherit;
        max-width: inherit;
    }

    .btn-info {

    }
}

@media (max-width: 640px) {
    .footer__contact-us {
        justify-content: space-evenly;
    }
}

@media (mex-width: 370px) {
    
}

.icon-link {
    visibility: hidden;
}
