<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Кондитерская Ванилька"/>
  <meta property="og:image" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.vanilka.by" />
  <meta name="keywords" content="Кондитерская Ванилька | Главная страница | Сладости, торты на заказ, корпоративные подарки">
  <meta name="description" content="Кондитерская Ванилька | Главная страница | Сладости, торты на заказ, корпоративные подарки">

  <title></title>
  <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->

  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <link type="text/css" rel="stylesheet" href="../../../public/css/libs.min.css" >
  <link type="text/css" rel="stylesheet" href="../../../public/css/main.min.css" >
</head>
<body>
<div class="vnl__content-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light header__container-fluid d-flex justify-content-sm-center mb-4">
    <div class="container vnl__container">
  
      <div class="d-none d-lg-block w-100">
        <ul class="navbar-nav w-100">
  
          <li class="nav-item col-auto p-0">
            <a href="main.html" class="btn btn-primary p-0 w-100" data-toggle="tooltip" data-placement="bottom" title="Главная страница">
              <i class="fas fa-home fa-2x"></i>
            </a>
          </li>
  
          <li class="nav-item col p-0">
            <a href="../showcase/showcase__stuffing.html" class="btn btn-primary p-0 w-100">
              <h2 class="d-none d-sm-inline-block header__item">Начинки<br>&nbsp;</h2>
  
            </a>
          </li>
  
          <li class="nav-item col-auto p-0">
            <span class=" icon icon__delimiter"></span>
          </li>
  
          <li class="nav-item col p-0">
            <a href="gallery__cakes.html" class="btn btn-primary p-0 w-100">
              <span class="d-none d-lg-inline-block header__item"><h2 style="line-height: 15px">Торты</h2><h4>Галлерея</h4></span>
              <h3 class="d-lg-none">Галлерея тортов</h3>
            </a>
          </li>
  
        </ul>
      </div>
  
      <a class="navbar-brand col-auto mx-auto p-0" href="main.html">
        <i class="icon icon__xl icon__logo_full"></i>
      </a>
      <button class="navbar-toggler position-absolute" style="top:40px" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
          <li class="d-block d-lg-none nav-item">
            <a class="btn btn-primary p-0 w-100 text-left" href="main.html">
              <h3>Главная страница</h3>
            </a>
          </li>
          <li class="d-block d-lg-none nav-item">
            <a class="btn btn-primary p-0 w-100 text-left" href="../showcase/showcase__stuffing.html">
              <h3>Начинки</h3>
            </a>
          </li>
          <li class="d-block d-lg-none nav-item">
            <a class="btn btn-primary p-0 w-100 text-left" href="gallery__cakes.html">
              <h3>Галлерея тортов</h3>
            </a>
          </li>
  
          <li class="nav-item col-lg p-0">
            <a href="./gallery__dessert.html" class="btn btn-primary p-0 w-100 text-left text-lg-center">
              <span class="d-none d-lg-inline-block header__item"><h2 style="line-height: 15px">Десерты</h2><h4>Галлерея</h4></span>
              <h3 class="d-lg-none">Галлерея десертов</h3>
            </a>
          </li>
          <li class="nav-item col-auto d-none d-lg-block">
            <span class=" icon icon__delimiter"></span>
          </li>
          <li class="nav-item col-lg p-0">
            <a href="../showcase/showcase__dessert.html" class="btn btn-primary p-0 w-100 text-left text-lg-center">
              <h2 class="d-none d-lg-inline-block header__item">Десерты<br></h2>
              <h3 class="d-lg-none">Десерты</h3>
            </a>
          </li>
          <li class="nav-item col-lg-auto p-0">
            <a href="#faq-modal-open" class="btn btn-primary p-0 w-100 text-left text-lg-center" data-toggle="tooltip" data-placement="bottom" title="Вопросы/Ответы">
              <i class="d-none d-lg-inline-block fas fa-question-circle fa-2x"></i> <h3 class="d-lg-none">Вопросы и ответы</h3>
            </a>
          </li>
        </ul>
      </div>
  
    </div>
  </nav>

  <div class="vnl__article transparent container p-0 mb-0 mt-5">
    <nav aria-label="breadcrumb mb-0 rounded-0 bg-light ">
      <ol class="breadcrumb mb-0 bg-light border-bottom">
        <li class="breadcrumb-item"><a href="main.html">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">Галлерея</a></li>
        <li class="breadcrumb-item active" aria-current="page">Десерты</li>
      </ol>
    </nav>
  </div>

  <div class="vnl__article container">
    <div class="row">
      <div class="container showcase__navbar py-3">
        <div class="d-flex justify-content-center navbar__primary"></div>
        <!--div class="d-flex justify-content-center navbar__secondary"></div-->
      </div>
    </div>
    <div class="row vnl__gallery p-3"></div>
  </div>
</div>


<div id="faq-modal-open" data-izimodal-title="Вопросы|Ответы" data-izimodal-subtitle="Ответы на часто задаваемые вопросы">
  <div class="skit-modal__body p-3 pb-5">
    <div class="accordion" id="faq__accordion">
      <!--1-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-1">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq__collapse-1" aria-expanded="true" aria-controls="faq__collapse-1">
              Как хранить торт/десерты?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-1" class="collapse show" aria-labelledby="faq__heading-1" data-parent="#faq__accordion">
          <div class="card-body">
            В холодильнике, перед употреблением дайте ему постоять немного при комнатной температуре
          </div>
        </div>
      </div>
      <!--2-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-2">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-2" aria-expanded="false" aria-controls="faq__collapse-2">
              Можно ли изменить, отменить заказ?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-2" class="collapse" aria-labelledby="faq__heading-2" data-parent="#faq__accordion">
          <div class="card-body">
            Да, но не позже чем за 5 дней до даты выполнения. Свяжитесь со мной удобным Вам способом.
          </div>
        </div>
      </div>
      <!--3-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-3" aria-expanded="false" aria-controls="faq__collapse-3">
              За какое время нужно сделать заказ?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-3" class="collapse" aria-labelledby="faq__heading-3" data-parent="#faq__accordion">
          <div class="card-body">
            Как можно раньше. Если ещё не определились с заказом, свяжитесь со мной и забронируйте дату.
          </div>
        </div>
      </div>
      <!--4-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-4">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-4" aria-expanded="false" aria-controls="faq__collapse-4">
              Можно ли сделать торт/десерты с мастикой?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-4" class="collapse" aria-labelledby="faq__heading-4" data-parent="#faq__accordion">
          <div class="card-body">
            Нет. Это не современно, сильно снижает полезный вес торта ( мастику обычно выкидывают, а это ¼ веса торта). Вместо этого могу покрыть торт кремом и поставить съедобные пряники. <a href="gallery__cakes.html">См фото работ</a>
          </div>
        </div>
      </div>
      <!--5-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-5">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-5" aria-expanded="false" aria-controls="faq__collapse-5">
              Можно ли повторить чужой торт/пряники/десерты?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-5" class="collapse" aria-labelledby="faq__heading-5" data-parent="#faq__accordion">
          <div class="card-body">
            Да, если это <a href="gallery__cakes.html">в моём стиле</a>
          </div>
        </div>
      </div>
      <!--6-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-6">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-6" aria-expanded="false" aria-controls="faq__collapse-6">
              Как перевозить торт/десерты?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-6" class="collapse" aria-labelledby="faq__heading-6" data-parent="#faq__accordion">
          <div class="card-body">
            Перевозить лучше всего на ровном полу автомобиля. В жару обязательно включайте кондиционер. Чем выше и больше торт, тем аккуратнее нужно ехать, чтобы ярусы не поехали.
          </div>
        </div>
      </div>
      <!--7-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-7">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-7" aria-expanded="false" aria-controls="faq__collapse-7">
              Можно и заказать диетический/веганский торт/десерты?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-7" class="collapse" aria-labelledby="faq__heading-7" data-parent="#faq__accordion">
          <div class="card-body">
            Нет, мои торты/десерты содержат муку, сахар, молочные продукты и яйца, которые я не могу заменить. Есть возможность использовать перепелиные яйца. При заказе указывайте необходимость.
          </div>
        </div>
      </div>
      <!--8-->
      <div class="product-review">
        <div class="card-header" id="faq__heading-8">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faq__collapse-8" aria-expanded="false" aria-controls="faq__collapse-8">
              Входит ли транспортировочная упаковка в стоимость?
            </button>
          </h5>
        </div>
        <div id="faq__collapse-8" class="collapse" aria-labelledby="faq__heading-8" data-parent="#faq__accordion">
          <div class="card-body">
            Нет
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="delivery-modal-open" data-izimodal-title="Вес готовых изделий" data-izimodal-subtitle="Правильно расчитать объем заказа">
  <div class="skit-modal__body p-3 pb-5">
    <p>
      Средняя порция 150-200 гр. Увеличивайте её при отсутствии другой еды, если хотите оставить на утро, либо угостить не пришедших гостей.
      Погрешность: торт может иметь погрешность в весе до 10 %
    </p>
  </div>
</div>
<div id="decorate-modal-open" data-izimodal-title="Оформление" data-izimodal-subtitle="Информация об оформлении кондитерских изделий">
  <div class="skit-modal__body p-3 pb-5">
    <p>
      <span>В стоимость входит:</span>
      Оформление в любом цвете, градиент, мазки, несколько цветов, стекающая глазурь любого цвета, сезонные ягоды,
      безе на палочках, маленькие безе, бусины, блёстки, посыпки, 2 небольших леденца,
      1 пряник (поздравительная надпись, либо цифра), стёклышко, декор лепестками шоколада ( + 500 гр к весу),
      декор лепестками груши ( +500 гр к весу), горка сладостей ( +300-500 гр к весу)
    </p>
    <p>
      <span>Дополнительно оплачивается:</span>
      <ul>
        <li>Пряники</li>
        <li>Мини-бутылка алкоголя</li>
        <li>Несезонные ягоды</li>
        <li>Топпер (пластик, дерево, стекло)</li>
        <li>Картинка на сахарной печати</li>
        <li>Макаруны</li>
        <li>Декор живыми цветами</li>
        <li>Леденцы</li>
        <li>Ваш индивидуальный декор</li>
        <li>Безе на палочках</li>
        <li>Маленькие безе</li>
        <li>Бусины, блёстки посыпки</li>
        <li>Не определился</li>
        <li>Какое оформление входит в стоимость</li>
      </ul>
    </p>
  </div>
</div>

<div class="vnl__footer container-fluid d-sm-flex justify-content-center">
    <div class="footer__column">
        <div class="row">
            <div class="col">
                <h4>#О нас</h4>
                <div class="footer__org-info">
                    <div class="row">
                        <div class="col p-0">
                            <a class="btn btn-link text-dark py-0" href="https://goo.gl/maps/HQuajyDebbo">
                                <div class="row flex-nowrap">
                                    <div class="col-auto d-flex align-items-center">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                    <div class="col text-left">
                                        пр-т Независимости 37а<br> 200005 г.Минск
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0">
                            <a class="btn btn-link text-dark py-0" href="tel:+375293080749">
                                <div class="row flex-nowrap">
                                    <div class="col-auto">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="col">
                                        <span>+375 (29) 308 07 49</span>
                                        <div class="row">
                                            <div class="col text-right"><i class="fab fa-viber"></i>
                                                <i class="fab fa-telegram"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="btn btn-link text-dark py-0" href="mailto:postbox4you@inbox.ru">
                                <div class="row flex-nowrap">
                                    <div class="col-auto">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="col">
                                        <span>postbox4you@inbox.ru</span><br/>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <h4>#Информация</h4>
                <a href="#" class="btn btn-link d-block text-dark text-left" data-izimodal-open="#decorate-modal-open" data-izimodal-zindex="20000" data-izimodal-preventclose="">Оформление</a>
                <a href="#" class="btn btn-link d-block text-dark text-left" data-izimodal-open="#faq-modal-open" data-izimodal-zindex="20000" data-izimodal-preventclose="">Вопросы</a>
                <a href="#" class="btn btn-link d-block text-dark text-left" data-izimodal-open="#delivery-modal-open" data-izimodal-zindex="20000" data-izimodal-preventclose="">Вес</a>
            </div>
            <div class="col">
                <h4>#Мы в социальных сетях</h4>
                <div class="footer__contact-us">
                    <a href="https://vk.com/id5417160" class="btn btn-info">
                        <i class="fab fa-vk"></i>
                    </a>
                    <!--<button class="btn btn-info">
                        <i class="fab fa-twitter"></i>
                    </button>-->
                    <a href="https://www.facebook.com/vanilka.by/" class="btn btn-info">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!--<button class="btn btn-info">
                        <i class="fab fa-viber"></i>
                    </button>-->
                    <a href="https://www.instagram.com/vanilka.by/?hl=ru" class="btn btn-info">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript" src="../../../public/js/libs.min.js" ></script>
<script type="text/javascript" src="../../../public/js/bundle.js"></script>
<script>
  $(function(){
    $("#decorate-modal-open,#delivery-modal-open,#faq-modal-open").iziModal({
      headerColor: common.primaryColor
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script>
  var gallery = new Gallery({
    productLink : 'showcase__dessert.html',
    productLinkTitle : 'К десертам',
    galleryContainer: $('.vnl__gallery'),
    src:[
      {
        tagList: ["Капкейки"],
        directTransitionTo: 'Капкейки',
        folder: 'img/Cupcakes',
        prefix: 'Cupcakes',
        length: 17
      },
      {
        tagList: ["Зефир"],
        directTransitionTo: 'Зефир',
        folder: 'img/Zephyr',
        prefix: 'Zephyr',
        length: 5
      },
      {
        tagList: ["Пряники"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/Heroes_characters',
        prefix: 'heroBread',
        length: 19
      },
      {
        tagList: ["Пряники","Детские"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/For_children',
        prefix: 'For_children',
        length: 37
      },
      {
        tagList: ["Кейкпопсы"],
        directTransitionTo: 'Кейкпопсы',
        folder: 'img/Cakepops',
        prefix: 'cakepops',
        length: 10
      },
      {
        tagList: ["Мармелад"],
        directTransitionTo: 'Мармелад',
        folder: 'img/Marmalade',
        prefix: 'Marmalade',
        length: 3
      },
      {
        tagList: ["Леденцы"],
        directTransitionTo: 'Леденцы',
        folder: 'img/Lollipops',
        prefix: 'type',
        length: 25
      },
      {
        tagList: ["Пряники","Новогодние"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/New_Year',
        prefix: 'New_Year',
        length: 17
      },
      {
        tagList: ["Трайфлы"],
        directTransitionTo: 'Трайфлы',
        folder: 'img/Trifley',
        prefix: 'Trifley',
        length: 6
      },
      {
        tagList: ["Маршмеллоу"],
        directTransitionTo: 'Маршмеллоу',
        folder: 'img/Marshmalloy',
        prefix: 'type',
        length: 2
      },
      {
        tagList: ["Пряники","Корпоративные"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/Gingerbreads_corporeal',
        prefix: 'type',
        length: 6
      },
      {
        tagList: ["Пряники","Классические"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/Heroes_characters',
        prefix: 'heroBread',
        length: 19
      },
      {
        tagList: ["Пряники","Длямужчин"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/4men',
        prefix: 'type',
        length: 3
      },
      {
        tagList: ["Пряники","Дляженщин"],
        directTransitionTo: 'Пряники',
        folder: 'img/Gingerbread/4woman',
        prefix: 'type',
        length: 8
      },
    ]
  });

  var params = common.getURLParams();
  console.log(params);
  if( common.isSortActionRequired(params) )
    common.sortByTag(params.sortByTag);
  if( common.isSelectTargetImageRequired(params) )
    common.findGalleryItemByImageName(params.goto).click();
</script>
</body>
</html>